In [6]:
"""
Q1 if > 90 Grade A if > 80 and <= 90 B 
if >= 60 and <= 80 Cand below 60 D 
"""
a = int(input("Marks of the student in %: ")) 
if a > 90 :
    print("A")
elif a > 80 and a <= 90:
    print("B")
elif a >= 60 and a <= 80:
    print("C")
else: 
    print("D")

Marks of the student in %:  10

D

In [17]:
"""
Q2 if cost price is > 100000 tax is 15%
if cost price is >50000 and <= 100000 10%
if cost price is <= 50000 5%
"""
c = int(input("Enter cost of Bike"))
if c>100000:
    tax = 15 
elif c > 50000 and c <= 100000:
    tax = 10
else:
    tax = 5
def totalTax(c,tax):
    tax = c * (tax/100)
    return tax
print("Tax % on cost of Bike ",c,"is ",tax,"\nRoad tax to be paid is ",totalTax(c,tax))

Enter cost of Bike 20000

Tax % on cost of Bike  20000 is  5
Road tax to be paid is  1000.0

In [22]:
#Q3 We have to print monumnet name when city name is given , given cities are 
#Delhi,Agra,Jaipur
m = str(input("Name of the city: "))
m = m.lower()
print("Famous Monument in the city is ")
if m == "delhi":
    print("Red Fort")
elif m == "agra":
    print("Taj Mahal")
elif m == "jaipur":
    print("Jal Mahal")
else:
    print("You have entered wrong city or you spelled it incorrectly")

Name of the city:  DELHI

Famous Monument in the city is
Red Fort

In [3]:
#Q4 check how may numbes are divide by 3 till number <= 10
i=0
count = 0
while i<=10:
    if i % 3 == 0  and i / 3:
        count = count + 1
        i = i + 1
    else:
        i = i + 1
print(count)

3

In [4]:
#Q5 When and why to use while loop ?
"""
**With the while loop we can execute a set of statements as long as a condition is true.
**The while loop requires relevant variables to be ready, in this example we need to define 
  an indexing variable, i, which we set to 1.
**With the break statement we can stop the loop even if the while condition is true
"""

'\n**With the while loop we can execute a set of statements as long as a condition is true.\n**The while loop requires relevant variables to be ready, in this example we need to define \n  an indexing variable, i, which we set to 1.\n**With the break statement we can stop the loop even if the while condition is true\n'

In [5]:
#Q6 Use while loop to print 3 different pattern

In [11]:
#1
n = int(input("Enter a number: "))
i = 1
while i <= n:
    j = 1
    while j <= i:
        print("*",end = " ")
        j = j + 1
    print()
    i = i + 1

Enter a number:  5

*
* *
* * *
* * * *
* * * * *

In [10]:
#2
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  5

* * * * *
* * * *
* * *
* *
*

In [9]:
#3
n = int(input('Enter the number of rows: '))
i = 1
while i<=n:
    print(" "*(n-i) + "* " * i)
    i+=1

Enter the number of rows:  5

    *
   * *
  * * *
 * * * *
* * * * *

In [8]:
#Reverse a while loop to display numbers from 10 to 1
n = 10 
while n >= 1:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1