In [1]:
#Q1 Create a python program to sort the given list of tuples based on 
#   integer value using a lambda function. 


l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_players = sorted(l, key=lambda x: x[1])

print(sorted_players)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [8]:
#Q2. Write a Python Program to find the squares of all the numbers in the 
#    given list of integers using lambda and map functions.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = list(map(lambda x : x**2,l))
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
#Q3. Write a python program to convert the given list of integers into a 
#    tuple of strings. Use map and lambda functions
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = tuple(map(lambda x: str(x),l))
print(l2)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [18]:
#Q4 product of list of numbers 1 to 25 use reduce funtion
from functools import reduce
l = [i for i in range(1,26)]
product = reduce(lambda x, y: x*y, l)
print(product)

15511210043330985984000000

In [22]:
#Q5 filter numbers divisible by 2 and 3 
l = [2,3,6,9,27,60,90,120,55,46]
l1 = list(filter(lambda x:x%2==0 or x%3==0 , l ))
print(l1)

[2, 3, 6, 9, 27, 60, 90, 120, 46]

In [23]:
#Q6 to find plindrome in given list using lambda and filter

l = ['python','php','aba','radar','level']
l1 = list(filter(lambda x: x == x[::-1],l))